{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}<a href="{{ path('task_create') }}" class="btn btn-info pull-right" style="margin-bottom: 20px;">Créer une tâche</a>
    {% if tasks is empty %}
    <div class="alert alert-warning" role="alert">
        Il n'y a pas encore de tâche enregistrée. <a href="" class="btn btn-warning pull-right">Créer une tâche</a>
    </div>
      {% endif %}
     <div class="container">
     <div class="row">
        {% for task in tasks %}

        <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
            <div class="card card-task">
                <div class="card-heading">
                    <h5 class="card-title"><a href="{{ path('task_edit', {'id' : task.id}) }}">{{ task.title }}</a></h5>
                    {% if task.user is not null %}
                    <h6 class="card-subtitle mb-2 text-muted">Auteur: {{task.user.username}}</h6>
                    {% else %}
                    <h6 class="card-subtitle mb-2 text-muted">Auteur: Anonyme</h6>
                    {% endif %}
                    </div>
                        <div class="card-body">
                            <p class="card-text">{{ task.content }}</p>

                        </div>                        
                        <div class="card-footer">
                            <button class="btn btn-success">
                                {% if not task.isDone %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 
                                    0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.0
                                    3a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                </svg>
                                {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0
                                    1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.
                                    5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 
                                    1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                </svg>
                                {% endif %}
                                {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                            </button>
                            <button class="btn btn-danger btn-sm">Supprimer</button>
                        </div>                       
                </div>
    

            </div>
         
{% endfor %}
</div>  
     </div>
  
{% block style %}
<style>
    .card{
        height: 100%;
    }
    
    .card-container-equal-height {
        display: flex;
        flex-wrap: wrap;
    }
    
    .card-container-equal-height .card {
        width: 100%;
    }
    
    .card-task{
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
    
    
    
</style>
{% endblock %}
{% endblock %}
