{% extends 'base.html.twig' %}

{% block header_title %}<h1>Modifier <strong>{{ user.username }}</strong></h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
<div class="container">
    <h3>Édition de l'utilisateur</h3>
    {{ form_start(userEditionForm, {'attr': {'novalidate': 'novalidate'}}) }}
    
    <div class="form-group">
        {{ form_label(userEditionForm.email) }}
        {{ form_widget(userEditionForm.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(userEditionForm.email) }}
    </div>

    <div class="form-group">
        {{ form_label(userEditionForm.username) }}
        {{ form_widget(userEditionForm.username, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(userEditionForm.username) }}
    </div>

    <div class="form-group">
        {{ form_label(userEditionForm.password.first) }}
        {{ form_widget(userEditionForm.password.first, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(userEditionForm.password.first) }}
    </div>

    <div class="form-group">
        {{ form_label(userEditionForm.password.second) }}
        {{ form_widget(userEditionForm.password.second, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(userEditionForm.password.second) }}
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Mettre à jour</button>
    </div>

    {{ form_end(userEditionForm) }}
</div>
{% endblock %}

